.about-wrapper {
  @include media(desktop) {
  }
}

.about-section {
  padding-top: 80px;
  padding-bottom: 80px;
  scroll-margin-top: 0;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
  }
}

.about-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 594px;
    margin: 0;
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #565656;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}

.about-list {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 594px;
  }
}

.about-list-item {
  border-bottom: 1px solid rgba(86, 86, 86, 0.2);
  padding: 8px 0px;
  display: flex;
  align-items: center;
  gap: 14px;

  @include media(desktop) {
  }
}

.about-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #565656;

  @include media(desktop) {
  }
}
