.advantages-section {
  @include media(desktop) {
  }
}

.advantages-section-wrapper {
  padding-top: 30px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.advantages-container {
  @include media(desktop) {
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-subtitle {
  @include media(desktop) {
  }
}

.advantages-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 60px;
    max-width: 1248px;
    overflow: hidden;
  }
}

.advantages-swiper-container.show {
  visibility: visible;
}

.advantages-swiper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    gap: 0;
  }
}

.advantages-slide {
  box-shadow: 12px 12px 16px 0 rgba(158, 158, 158, 0.16);
  background: #f4f7ff;
  border-radius: 8px;
  padding: 20px 20px 60px 20px;
  max-width: 343px;
  min-height: 382px;
  display: flex !important;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    width: 100% !important;
    max-width: 394px;
    min-height: 358px;
  }
}

.advantages-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}

.advantages-slide-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;

  @include media(desktop) {
  }
}

.advantages-slide-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #565656;

  @include media(desktop) {
  }
}
