<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="about-text-wrapper">
        <h2 class="section-title about-title">About Us</h2>
        <p class="section-subtitle about-subtitle">
          Learning That Fits Real Life
        </p>
        <p class="about-text">
          Upunitex is not another generic online school. We design AI-powered,
          adaptive learning journeys for adults who want to stay relevant in
          tech, business, and creative industries. Our focus is on practical
          skills, guided by expert mentors, enhanced with personalized AI
          tutoring.
        </p>
        <ul class="about-list">
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-play-circle-broken"></use>
            </svg>
            <p class="about-list-item-text">100% online & mobile-friendly</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-play-circle-broken"></use>
            </svg>
            <p class="about-list-item-text">
              Tailored learning paths powered by AI
            </p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-play-circle-broken"></use>
            </svg>
            <p class="about-list-item-text">
              Mentors with 10+ years of industry experience
            </p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-play-circle-broken"></use>
            </svg>
            <p class="about-list-item-text">
              Practical projects, not just theory
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="594"
          height="412" />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="343"
          height="268" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Human interacting with robot"
          width="343"
          height="268"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
