<section class="section advantages-section" id="advantages">
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <h2 class="section-title advantages-title">Why Upunitex?</h2>
      <p class="section-subtitle advantages-subtitle">
        What Makes Upunitex Different?
      </p>
      <div class="advantages-swiper-container">
        <ul class="swiper-wrapper advantages-swiper-wrapper">
          <li class="swiper-slide advantages-slide">
            <picture>
              <source
                srcset="./img/advantages/advantages-img1-desk.png"
                media="(min-width: 1440px)"
                width="354"
                height="190" />
              <source
                srcset="./img/advantages/advantages-img1-mob.png"
                width="303"
                height="190" />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img1-mob.png"
                alt="People working"
                width="303"
                height="190"
                loading="lazy"
            /></picture>
            <h3 class="advantages-slide-title">AI Personal Tutor</h3>
            <p class="advantages-slide-text">
              Adaptive feedback & pacing for every student
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <picture>
              <source
                srcset="./img/advantages/advantages-img2-desk.png"
                media="(min-width: 1440px)"
                width="354"
                height="190" />
              <source
                srcset="./img/advantages/advantages-img2-mob.png"
                width="303"
                height="190" />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img2-mob.png"
                alt="People working"
                width="303"
                height="190"
                loading="lazy"
            /></picture>
            <h3 class="advantages-slide-title">Practical-first Curriculum</h3>
            <p class="advantages-slide-text">
              Real-world case studies and projects
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <picture>
              <source
                srcset="./img/advantages/advantages-img3-desk.png"
                media="(min-width: 1440px)"
                width="354"
                height="190" />
              <source
                srcset="./img/advantages/advantages-img3-mob.png"
                width="303"
                height="190" />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img3-mob.png"
                alt="People working"
                width="303"
                height="190"
                loading="lazy"
            /></picture>
            <h3 class="advantages-slide-title">Global Community</h3>
            <p class="advantages-slide-text">
              Learn with peers across industries & countries
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <picture>
              <source
                srcset="./img/advantages/advantages-img4-desk.png"
                media="(min-width: 1440px)"
                width="354"
                height="190" />
              <source
                srcset="./img/advantages/advantages-img4-mob.png"
                width="303"
                height="190" />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img4-mob.png"
                alt="People working"
                width="303"
                height="190"
                loading="lazy"
            /></picture>
            <h3 class="advantages-slide-title">Mentorship Network</h3>
            <p class="advantages-slide-text">
              Direct access to industry professionals
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <picture>
              <source
                srcset="./img/advantages/advantages-img5-desk.png"
                media="(min-width: 1440px)"
                width="354"
                height="190" />
              <source
                srcset="./img/advantages/advantages-img5-mob.png"
                width="303"
                height="190" />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img5-mob.png"
                alt="People working"
                width="303"
                height="190"
                loading="lazy"
            /></picture>
            <h3 class="advantages-slide-title">
              Certification & Career Support
            </h3>
            <p class="advantages-slide-text">
              Recognized certificates + job prep guidance
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
