<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="section-subtitle contact-subtitle">
          Ready to Reimagine Your Future with AI?
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@upunitex.site" class="contact-item-link"
            >info@upunitex.site
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <a href="tel:+49305550192" class="contact-item-link"
            >+49 (30) 555-0192
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <a href="" class="contact-item-link"
            >Remote-first, global community
          </a>
        </li>
      </ul>
      <a href="#home" class="contact-book-link">Book a Free Consultation</a>
    </div>
  </div>
</section>
