<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-main-title">
        AI Learning Designed for Adults,<br />
        <span class="hero-title-span">Built for the Future</span>
      </h1>
      <p class="hero-text">
        Upunitex offers flexible, practical, and engaging AI-driven courses that
        help professionals reskill, upskill, and stay competitive in the digital
        era.
      </p>
      <div class="hero-btn-wrapper">
        <a href="#contact" class="hero-browse-link">Browse Courses</a>
        <a href="#contact" class="hero-join-link">Join Free Trial</a>
      </div>
    </div>
  </div>
</section>
