<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#courses">Courses</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages"
          >Why Upunitex</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
