<section class="section pricing-section" id="pricing">
  <div class="container pricing-container">
    <h2 class="section-title pricing-title">Pricing Plans</h2>
    <p class="section-subtitle pricing-subtitle">
      Choose the Plan That Fits Your Journey
    </p>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <div class="pricing-item-title-wrapper">
          <div class="pricing-item-icon-wrapper">
            <svg class="check-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-coin"></use>
            </svg>
          </div>
          <p class="pricing-list-item-title">Basic</p>
        </div>
        <p class="pricing-list-item-subtitle">Idea-stage learners</p>
        <p class="pricing-list-item-price">€19/mo</p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">AI-Powered Learning Platform</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Access to All Core Courses</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Community Forum Access</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Live Mentor Sessions
            </p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Personalized AI Tutoring
            </p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Project-Based Assessments
            </p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Certification
            </p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Career Services
            </p>
          </li>
        </ul>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-item-title-wrapper">
          <div class="pricing-item-icon-wrapper">
            <svg class="check-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-coins"></use>
            </svg>
          </div>
          <p class="pricing-list-item-title">Standard</p>
        </div>
        <p class="pricing-list-item-subtitle">
          Beginners who want mentor support
        </p>
        <p class="pricing-list-item-price">€59/mo</p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">AI-Powered Learning Platform</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">Access to All Core Courses</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">Community Forum Access</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">2 Live Mentor Sessions/month</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">Personalized AI Tutoring</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">Project-Based Assessments</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill-white"></use>
            </svg>
            <p class="pricing-features-text">Certification Included</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-close-solid-white"></use>
            </svg>
            <p class="pricing-features-text pricing-features-text-close">
              Career Services
            </p>
          </li>
        </ul>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-item-title-wrapper">
          <div class="pricing-item-icon-wrapper">
            <svg class="check-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-piggy"></use>
            </svg>
          </div>
          <p class="pricing-list-item-title">Premium</p>
        </div>
        <p class="pricing-list-item-subtitle">
          Professionals & career changers
        </p>
        <p class="pricing-list-item-price">€129/mo</p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">AI-Powered Learning Platform</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Access to All Core Courses</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Community Forum Access</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Unlimited Live Mentor Sessions</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">
              Advanced Personalized AI Tutoring
            </p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Project-Based Assessments</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">Certification + Career Coaching</p>
          </li>
          <li class="pricing-features-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check-fill"></use>
            </svg>
            <p class="pricing-features-text">
              Career Services (Job Prep, CV AI)
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#contact" class="pricing-start-link">Start 7-Day Free Trial</a>
  </div>
</section>
